<% include partials/header %>
<h1>Here is the list of <b><%= animal %></b>s</h1>




<% animals.forEach(function(animalIndex){ %>
    
    <li> <%= animalIndex.name %> </li>
    
<% }) %>
<% include partials/footer %>