<% include partials/header %>
<h1>Here is the list of <b><%= animal %></b>s</h1>




<% animals.forEach(function(animalIndex){ %>
    
    <li> <%= animalIndex.name %> </li>
    
<% }) %>

<form action="/addanimal" method="POST">
    <input type="text" name="name" placeholder="Name">
    <input type = "hidden" name = "animal" value = <%=animal%> />

    <button>Add <b><%= animal %></b></button>
    
</form>

<% include partials/footer %>