<% include partials/header %>


<h1> Welcome to the Jungle!</h1>


<h3> This is the Home page of the Jungle :)</h3>

<p>You can reach to the list of animals from /animals!</p>


<% include partials/footer %>